.cur-alias {cursor: alias;}
.cur-allscroll {cursor: all-scroll;}
.cur-auto {cursor: auto;}
.cur-cell {cursor: cell;}
.cur-contextmenu {cursor: context-menu;}
.cur-colresize {cursor: col-resize;}
.cur-copy {cursor: copy;}
.cur-crosshair {cursor: crosshair;}
.cur-default {cursor: default;}
.cur-eresize {cursor: e-resize;}
.cur-ewresize {cursor: ew-resize;}
.cur-grab {cursor: grab;}
.cur-grabbing {cursor: grabbing;}
.cur-help {cursor: help;}
.cur-move {cursor: move;}
.cur-nresize {cursor: n-resize;}
.cur-neresize {cursor: ne-resize;}
.cur-neswresize {cursor: nesw-resize;}
.cur-nsresize {cursor: ns-resize;}
.cur-nwresize {cursor: nw-resize;}
.cur-nwseresize {cursor: nwse-resize;}
.cur-nodrop {cursor: no-drop;}
.cur-none {cursor: none;}
.cur-notallowed {cursor: not-allowed;}
.cur-pointer {cursor: pointer;}
.cur-progress {cursor: progress;}
.cur-rowresize {cursor: row-resize;}
.cur-sresize {cursor: s-resize;}
.cur-seresize {cursor: se-resize;}
.cur-swresize {cursor: sw-resize;}
.cur-text {cursor: text;}
.cur-url {cursor: url(myBall.cur),auto;}
.cur-wresize {cursor: w-resize;}
.cur-wait {cursor: wait;}
.cur-zoomin {cursor: zoom-in;}
.cur-zoomout {cursor: zoom-out;}